name: Dionis Pipeline

on:
  workflow_dispatch:  # REQUIRED: Enables the manual "Run workflow" button

jobs:
  pipeline:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
      minio:
        image: minio/minio:latest
        ports:
          - 9000:9000
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
          command: server /data
  zookeeper:
    image: bitnami/zookeeper:latest
    ports:
      - 2181:2181
    env:
      ALLOW_ANONYMOUS_LOGIN: "yes"
  kafka:
    image: bitnami/kafka:latest
    ports:
      - 9092:9092
    env:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Wait for services
        run: sleep 30

      - name: Run pipeline with Snakemake
        run: |
          snakemake --cores 1

      # BONUS: Visualization through Artifacts
      - name: Upload Report and Plot
        if: always() 
        uses: actions/upload-artifact@v4
        with:
          name: dionis-report-outputs
          path: |
            bird_report.csv
            bird_report_plot.png